* { 
	box-sizing: border-box;
	list-style: none;
	background-color: transparent;
	
}
html{
	background-color: transparent;
}
/*------ Header Styles  --------*/
	.container-fluid{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: "Amatic SC";
		font-size: 2em;
		margin-right: 50px;
	}
	
	.container-fluid li {
		text-align: center;
	}
	.container-fluid img {
		height: 100px;
		width: 100px;
		background-color: transparent;
	}
	h1 {
		font-family: 'Tangerine';
		display: grid;
		font-size: 2em;
		text-align: center;
		color: black;
	}
	h2 {
		margin-top: 25px;
		font-family: 'Tangerine';
		font-size: 3em;
	}
	img {
		height: 100px;
		width: 100px;
		background-color: transparent;
		
	}
	li img {
		margin: 25px;
	}
	main h1,
	 {
		font-family: 'Tangerine';
		display: grid;
		font-size: 2em;
		text-align: center;
		color: blue;
	}
	main a {
		font-family: 'Tangerine';
		display: grid;
		font-size: 2em;
		text-align: center;
		color: blue;
	}
	
	/*------Panels only ----------*/
	.panels {
      min-height: 100vh;
      overflow: hidden;
	  display: flex;
    }

    .panel {
      background: #6B0F9C;
      box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
      color: white;
      text-align: center;
      align-items: center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size: cover;
      background-position: center;
	  
	  flex: 1;
	  justify-content: center;
	  align-items: center;
	  display: flex;
	  /* vertically centers the items */
	  flex-direction: column;
    }

    .panel1 { background-image:url(../images/01.jpg); }
    .panel2 { background-image:url(../images/02.jpg); }
    .panel3 { background-image:url(../images/03.jpg); }
    .panel4 { background-image:url(../images/04.jpg); }
    .panel5 { background-image:url(../images/05.jpg); }

    /* Flex Children */
    .panel > * {
      margin: 0;
      width: 100%;
      transition: transform 0.5s;
	  
	  flex: 1 0 auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  cursor: pointer;
    }

	.panel > *:first-child { transform: translateY(-100%); }
	.panel.open-active > *:first-child { transform: translateY(0); }
	.panel > *:last-child { transform: translateY( 100%); }
	.panel.open-active > *:last-child { transform: translateY(0); }

    .panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    
    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
	  flex: 5;
      font-size: 40px;
    }
	/*------about me headline style ---------*/
	#about{
	text-align: center;
	}
	
	/*---------End of Panel styles ---------*/
	footer { 
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 50px;
	}
	
	footer img {
		height: 50px;
		width: 50px;
	}
	/*--------------Figure out how to fill facebook svg with blue ------*/
	.facebook {
		fill: blue;
	}
	/*------Queries for header styles -----*/
	@media ( min-width: 769px) {
		.container-fluid ul,
		.container-fluid li
		 {
		display: flex;
		flex-direction: row;
		margin: 25px;
		
		}
	}